<div class="nav-bar">
  <nav>
    <ul>
      <% if(!isAuthenticated) { %>
      <li><a href="/login/">Login</a></li>
      <% } else { %>
      <li><a href="/logout/">Logout</a></li>
      <% } %>
    </ul>
  </nav>
</div>